Step1 - Gathering dataset

In [ ]:
#loading and reading the dataset
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/insurance.csv")

In [ ]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
data.describe()

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.494768,30.663397,1.094918,0.204783,1.455904,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.130888,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,0.000000,4740.287150
50%,39.000000,0.000000,30.400000,1.000000,0.000000,1.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,2.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010

Step2 - Data Cleaning/Data preprocessing/Data Wrangling

In [ ]:
#one hot encoding will be done to convert categorical variables to numerical variables
data['sex']=data['sex'].apply({'male':0,'female':1}.get)

In [ ]:
data.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [ ]:
data['smoker']=data['smoker'].apply({'no':0,'yes':1}.get)
data['region']=data['region'].apply({'southeast':0,'southwest':1,'northeast':2,'northwest':3}.get)

In [ ]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       1  16884.92400
1   18    0  33.770         1       0       0   1725.55230
2   28    0  33.000         3       0       0   4449.46200
3   33    0  22.705         0       0       3  21984.47061
4   32    0  28.880         0       0       3   3866.85520

Step3 - Divide the data into dependent(y) and independent(x) variables

In [ ]:
x=data[['age','sex','bmi','children','smoker','region']] #these are the independent variables
y=data['charges'] #this is the dependent variable

In [ ]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    1  27.900         0       1       1
1   18    0  33.770         1       0       0
2   28    0  33.000         3       0       0
3   33    0  22.705         0       0       3
4   32    0  28.880         0       0       3

In [ ]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Step4 - Splitting the data into training and testing set

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #test_size=0.2 means 20%  of the data will be used for testing and remaining 80% will be used for training the machine learning model

In [ ]:
x_train.shape

(1070, 6)

In [ ]:
y_train.shape

(1070,)

In [ ]:
x_test.shape

(268, 6)

In [ ]:
y_test.shape

(268,)

Creating a machine learning model by using Linear Regression algorithm

In [ ]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression() #linear regression algorithm gets activated

In [ ]:
regression.fit(x_train,y_train) #fit() is used to train the machine learning model by providing x_train and y_train as input variables

LinearRegression()

In [ ]:
predictions=regression.predict(x_test) #predict() is used to predict the output from machine learning model which then gets compared to y_test

In [ ]:
predictions #chargest predicted by machine learning model (predicted values)

array([38876.26766862, 10565.34310727, 11887.95388302, 38620.7583245 ,
        2916.5401744 , 34620.78383194, 13130.39611439,  9603.51759535,
        4921.49350362, 34902.45525733, 17995.42877327, 12278.14107664,
        9569.11439378, 12373.04588722,  8999.2397702 , 14127.46267245,
       31768.28185335,  5612.98889479, 13743.49862908, 13564.60144081,
       11177.27189777,  8242.00728063,  9347.66631625, 12616.20270649,
        8137.91500712, 12500.86957576,  9867.6310744 , 35284.18285753,
        9490.48766944, 10108.04458875, 10970.31134724,  7974.99728068,
        6486.53032297, 15122.18091524, 29465.43386703,  4921.50635746,
       26786.97144195,  2428.22130223,  8153.19794876,  4417.48519566,
       11705.23737759, 25751.40715964,  1347.55864866,  9815.18890998,
        4347.25547518,  2920.0745045 , 11470.48653746, 31284.20245908,
       10401.77938344, 39695.52378542, 10837.30282606, 10319.09438718,
        3133.83020315,  9896.93367032, 27751.4815221 ,  1656.80124564,
        2612.6318273 ,  8415.51741391,  8957.60115253, 14030.63452246,
       35319.41866107, 28540.74312237, 13039.69308709, 37075.34505011,
        9289.63713112, 33362.58102743, 34402.60498265,  1322.45002115,
       14203.22113015,  2565.15999628, 37530.10031285,  6291.63783304,
       31201.17946414,  9357.70965056, 10921.69003016, 11596.62431115,
       11021.63622807,   496.31279545,  3532.6329994 , 12788.35076345,
        2208.63779897,  6167.02165009, 31789.21608493, 12148.98684554,
        3653.80167994,  4226.73108669, 11034.25860382,   715.70904927,
       12309.76841299,  3289.85054145,  7516.50078608,  7074.75888453,
       35480.57291018,  2138.76368008, 10789.4128039 ,  2182.76033141,
       31347.68551499, 12625.6647658 , 35972.11636802, 24491.06985013,
       11904.84312403,  2888.16357082, 14170.59870336, 11384.85016577,
        3918.66689329,  8187.06742407,  8920.98865935,  8728.92068607,
       33818.85917531,  8609.13517804,  8892.77784943,  9405.47704018,
        4601.01587548, 14115.43004984, 32657.13922649,  6615.97565714,
        6583.28224248, 12370.94739718,  5633.57956587,   600.80250799,
        9670.8995005 , 10550.49456994,  2027.14431403, 13156.53101843,
       14127.50123399, 14557.57584482,  3600.96931438, 35597.27302593,
       13395.85844257,  9050.85942255,  4764.38765855, 12016.86811731,
       30048.27681748, 14893.99348068, 30669.64993042,  1737.68157306,
       28669.56190135, 28730.26959936, 35214.98334988,  9689.1411132 ,
       15737.06276083,  7122.35033644,  6533.89297793, 39859.56551409,
       12870.74020111, 15804.83838969, 35026.43699042, 10940.83638305,
        6036.36313762,  4990.52423163,  4602.95426764, 37251.29343519,
        8981.73405198,  8754.69193787,  3842.71562793, 30483.93844903,
       16373.86545032, 28496.45907497,  7881.74894459, 13513.43964383,
        5859.66981671, 10023.40834649, 12564.71715081,  7378.47783743,
        5084.38209698,  5254.29363094,  4862.70054309, 33839.49359639,
       10997.64611064, 18986.68796613, 11916.79300761, 12549.8616912 ,
       17509.16814994, 14237.99346235, 10798.06688465,  5295.31453114,
       12626.31198968,  4282.61548522, 14142.78417563, 33733.61295062,
        5216.63843067,  9785.74477229,  6504.17992589,  8920.00891517,
        3235.85517271,  4258.60345884,  3922.60905311,  7938.60878125,
       12680.19167383,   490.05406965, 12214.1384427 , 14969.7904999 ,
       25118.44130681,  9071.10705595, 12842.9419407 ,  3171.95618228,
        9894.58452853, 10179.05007156, 18421.92522419, 13049.08350173,
        8935.72237898, 15791.01190266,  8592.30157864,  9709.34682574,
       25410.76032748, 37495.15867818,  7849.748034  , 27999.21283199,
       15042.98526242,  4228.82957673, 15119.36442355,  5659.49997067,
       34194.08639892,  9147.03253379, 12436.80348536, 38111.90990125,
        5791.52712215,  2245.79358259, 29993.17411285,  7134.29978062,
        1149.30863324,  3715.11045475, 11858.00259366,  4826.42078031,
       12852.17263081,  9019.06585313,  9351.54594066, 31500.22112135,
        1993.91190481, 13190.53071184, 10584.61967826, 12881.92080523,
        6605.51829728, 25470.23186122, 10002.18965068, 13925.46369014,
       11523.23755373,  5483.53661267, 10561.28103662, 14544.46631738,
        6433.00522403, 35158.19085184,  9906.49118494,  4595.08793616,
        1866.20390087, 33695.23472348, 14225.4867712 ,  5734.11478757,
       -1487.18200437,  7364.73695161,  3751.74865562,  6197.58590786,
       11114.57189981,  7051.4219767 ,  6668.71381956,  1840.44718257,
       11861.86681765,  1466.34906625, 14000.7419441 ,  7132.77396365,
        8233.05113274,  6465.37589637,  4485.30494427, 11753.75922323,
        4774.36417708,  8122.22557133,  4088.5154102 ,  7815.58436415])

In [ ]:
regression.score(x,y)

0.7501839835195656

For a new customer, how much should be the insurance cost (charges) ?

In [ ]:
#new customer  - new data
data_new={'age':65,'sex':0,'bmi':24,'children':2,'smoker':1,'region':2}

In [ ]:
index=[1] #serial number
my_data=pd.DataFrame(data_new,index)

In [ ]:
my_data

   age  sex  bmi  children  smoker  region
1   65    0   24         2       1       2

In [ ]:
new_predictions=regression.predict(my_data)
print("the insurance cost(charges) for the new customer will be",new_predictions)

the insurance cost(charges) for the new customer will be [36662.48907703]