In [1]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv("/content/heart.csv")

In [5]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
x=data.drop(['output'],axis=1)
y=data['output']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

KNN

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)

In [10]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [11]:
predictions=knn.predict(x_test)

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [13]:
print(cm)

[[14 13]
 [ 5 29]]

In [14]:
print(ac)

0.7049180327868853

PCA

In [15]:
from sklearn.decomposition import PCA

In [71]:
pca=PCA(n_components=4) #6 principal components 
x_reduced_train=pd.DataFrame(pca.fit_transform(x_train))
x_reduced_test=pd.DataFrame(pca.fit_transform(x_test))

In [72]:
x_train.shape

(242, 13)

In [73]:
x_test.shape

(61, 13)

In [74]:
x_reduced_train.shape

(242, 4)

In [75]:
pca.n_components

4

In [82]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=17)

In [83]:
knn.fit(x_reduced_train,y_train)

KNeighborsClassifier(n_neighbors=17)

In [84]:
predictions=knn.predict(x_reduced_test)

In [85]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [86]:
print(cm)

[[18  9]
 [11 23]]

In [87]:
print(ac)

0.6721311475409836